upstream example-php-handler {
        server unix:/var/run/php/php7.4-fpm.sock;
}
server {
    listen 80;
    server_name {{ wordpress_domain }} {{ inventory_hostname }}.{{ wordpress_domain }};
    root /var/www/{{ wordpress_domain }}/html;
    index index.php;
    location / {
        try_files $uri $uri/ /index.php?$args;
    }
    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/run/php/php7.4-fpm.sock;
    }

}