server_tokens off;

server {
    listen 80 default_server;
    server_name {{ domain_name }};

    location /.well-known/acme-challenge {
        root /var/www/letsencrypt;
        try_files $uri $uri/ =404;
    }

 #   location / {
 #       rewrite ^ https://{{ domain_name }}$request_uri? permanent;
 #   }
    location / {
        proxy_pass http://wp;
        proxy_set_header Host $host;
    }
    access_log /var/log/nginx/access.{{ domain_name }}.log;
    error_log /var/log/nginx/error.{{ domain_name }}.log;
}

upstream wp {
    server srv-app01-wp.devops1800.local;
    server srv-app02-wp.devops1800.local;
}

